@import url('http://fonts.cdnfonts.com/css/georgia');

header
{
    margin: -10px;
    height: 100px;
}

a 
{
    font-style: 'Georgia', sans-serif;
    text-decoration: none;
    color: inherit;
}

.header-element 
{
    align-items: center;
    justify-content: center;
    background-color: black;
    color: whitesmoke;
    float: left;
    text-align: center;
}

.header-element:hover 
{
    background-color: whitesmoke;
    color: black;
}