<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dc82731040.js" crossorigin="anonymous"></script>
    <!-- jQuerry -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="../../styles/styles.css">
    <link rel="stylesheet" href="../../styles/auth.css">
    <script src="../../scripts/auth-logic.js"></script>
    <!-- Loading header and footer -->
    <script src="../../scripts/utility-loader.js"></script>
    <title>Authorization</title>

</head>
<!-- HEADER -->
<header></header>
<body>
    <form id="sign-in" action="../../../../scripts/login-action.php" method="post" class="auth-forms default-frame">
        <h1>Authorize in Best Gadgets</h1>
        <input name="email" placeholder="e-mail" type="text" style="width: 75%;">
        <input name="password" placeholder="password" type="password" style="width: 75%;">
        <label id="not-correct-pair-label" style="color: red; display: none;">Incorrect pair of email and password!</label>
        <h3><a id="forgot-password-link" href="forgot-password.html">Forgot password?</a></h3>
        <input class="default-button" value="Sign In" type="submit" name="submit">
    </form>
</body>
</html>