<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dc82731040.js" crossorigin="anonymous"></script>
    <!-- jQuerry -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
    </script>
    <script src="../../scripts/auth-logic.js"></script>
    <link rel="stylesheet" href="../../styles/styles.css">
    <link rel="stylesheet" href="../../styles/auth.css">
    <!-- Loading header and footer -->
    <script src="../../scripts/utility-loader.js"></script>
</head>
<!-- HEADER -->
<header></header>
<body>
    <form class="auth-forms">
        <div id="sign-up" class="default-frame">
            <h1 style="margin-bottom: 0;">Sign up for a free account</h1>
            <div style="display: flex; justify-content: space-evenly; width: 100%;">
                <input name="firstName" style="width: 30%;" type="text" placeholder="First name">
                <input name="lastName" style="width: 30%;" type="text" placeholder="Last name">
            </div>
            <input name="email" type="text" placeholder="email" style="width: 75%;">
            <input name="password" type="password" placeholder="create password" style="width: 75%;">
            <h3><a id="have-account-link" href="../pages/auth.html">I already have account!</a></h3>
            <a class="default-button" onclick="tryRegister()" style="color: white;">Sign Up</a>
        </div>
    </form>
</body>
</html>