<head>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="../../scripts/utility-loader.js"></script>
    <link rel="stylesheet" href="../../styles/styles.css">
    <link rel="stylesheet" href="../../styles/404.css">
</head>
<header></header>
<body>
    <div class="text-block-404">
        404
        <br>
        <span class="smaller-text">page not found</span>
    </div>
</body>