<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pract 3 operations</title>
    </head>
    <header><h1>String and arrays operations</h1></header>
    <body style="display: flex; align-items: center; flex-direction: column;">
        <form action="../../../../scripts/opearations-with-array.php" method="post" style="padding: 5px; width: 20vw; display: flex; flex-direction:column; border: 1px solid black; border-radius: 5px;">
            <legend>Operations with arrays</legend>
            <input placeholder="Type values, separated by ','" type="text" name="userValues">
            <label for="userValues">Input some values</label>
            <input type="submit">
        </form>
        <br>
        <form action="../../../../scripts/opearations-with-string.php" method="post"  style="padding: 5px; width: 20vw; display: flex; flex-direction:column; border: 1px solid black; border-radius: 5px;">
            <legend>Operations with string</legend>
            <input placeholder="Input your sentences" type="text" name="userValues">
            <label for="userValues">Input some values</label>
            <input type="submit">
        </form>
    </body>
</html>