
    <!-- HEADER -->
    <nav>
        <div class="logo">BEST GADGETS</div>
        <div style="display: flex; justify-content: space-evenly; width: 50%;">
            <a href="/templates/index.html">Home</a>
            <a href="/templates/view.html">View</a>
            <a href="/templates/news.html">News</a>
            <a href="/templates/contribute.html">Contribute</a>
        </div>
        <div id="auth-buttons">
            <a class="auth-button" style="width: 10vw;" href="/templates/registration.html">Sign Up</a>
            <a class="auth-button" style="width: 7.5vw;" href="/templates/auth.html">Sign In</a>
        </div>
        <div id="profile-button">
            <i class="fas fa-user-alt"></i>
        </div>
    </nav>